@model ExamenMVC_SistemaGestiónEventos_MartinSanchez.Models.Inscripcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asistente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asistente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.InscripcionId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Volver a listado", "Index")
</p>
